*{
  margin: 0;
  padding: 0;
}
body{
  font-size:larger;
}

.warpper {
  margin-top: 5px;
  height: 500px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  border:1px solid gray;
  background-color: black;
  display: flex;
  justify-content: center;
  box-shadow: -3px -3px green;
}

.game-content{
  height: 500px;
  width: 460px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.rules{
  border: 2px solid green;
  background-color: white;
  height: 200px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}

button{
  color: white;
  border-color: green;
  background-color: black;
  border-width: 1px;
  border-radius: 5px;
}

.controls-button{
  height: 70px;
  width: 130px;
  font-weight: bold;
  font-size: large;
}

button:hover{
  cursor: pointer;
}

#reset{
  color: red;
  font-weight: normal;
  font-size: small;
  height: 20px;
  width: 120px;
}

#log{
  border: 2px solid green;
  background-color: white;
  width: 400px;
  height: 100px;
  box-sizing: border-box;
  overflow: auto;
  text-align: center;
}